<h1 class = "p-3">User info</h1>
<%= image_tag user.get_profile_image(100,100) %>
<table class = "table">
  <tbody>
    <tr>
      <th>
        name
      </th>
      <th>
        <%= user.name %>
      </th>
    </tr>
    <tr>
      <th>
        introduction 
      </th>
      <th>
        <%= user.introduction %>
      </th>
    </tr>
  </tbody>
</table>
<a class = "btn btn-outline-secondary btn-block" href = "/users/<%= user.id %>/edit"><i class="fa-solid fa-user-gear"></i></a>